#logo {
	width: 75px;
	height: 75px;
	float: left;
	margin-left: 0;
	padding-right:30px;
}

body{
	display:flex;
	flex-direction:column;
	background-color:#FFF8DC;
	margin:0;
}



nav{	
	font-size:30px;
	background-color:#FFE4C4;
	clear:both;
	/*max-width:800px;*/
	text-align:left;
	/*width:100%;*/
	margin:0;
	margin-top:10px;
	padding:10px;
	display:flex;
	flex-direction:column;
	order:1;
	flex:1;
}

.links{
	font-size:20px;
	background-color:#FFE4C4;
	padding:10px;
	margin: 0;
	margin-top:10px;
	/*max-width:800px;
	width:100%;*/
	order:2;
	flex:1;
}

.Form{
	background-color:#FFE4C4;
	padding:10px;
	margin:0;
	margin-top:10px;
	font-size:30px;	/*max-width:800px;
	width:100%;*/
	order:3;
	flex:1;
}

.HeaderText{
	font-family: Impact;
	font-size:25px;
}

.Table{
	background-color:#FFE4C4;
	padding:10px;
	/*max-width:800px;
	width:100%;*/
	margin:0;
	margin-top:10px;
	order:4;
	flex:1;
}

table{
	font-size:30px;
	width:95%;
}

.NeChet{
background-color:#FFEBCD;
}

footer, header{
	background-color:#FFDEAD;
	padding: 10px;
	/*max-width: 800px;
	width:100%;*/
	margin:0;
}

footer{
	margin-top:10px;
	order:5;
	flex:5;
}

header{
	order:0;
	flex:2;
}

td,th{
border: 1px solid rgb(0, 0, 0);
text-align: center;
}

#MapRC{
	width:300px;
 	height: 100px;
}

#Apple{
	width:150px;
	height:150px;
}

@media screen and (min-width:800px) and (min-device-width:800px){

#logo {
	width: 150px;
	height: 150px;
	margin-left: 25%;
	padding-right:70px;
}

body{
	display:flex;
	flex-direction:column;
}



nav{	
	max-width:960px;
	width:100%;
	margin: 0 auto;
	clear:both;
	padding:10px;
	margin-top:10px;
	display:flex;
	flex-direction:row;
	text-align: center;
	order:1;
	flex:1;
}

nav a{
flex:1;
}

.links{
	font-size:20px;
	max-width:960px;
	width:100%;
	padding:10px;
	margin: 0 auto;
	margin-top:10px;
	order:2;
	flex:1;
}

.Form{
	max-width:960px;
	width:100%;
	font-size:20px;
	background-color:#FFE4C4;
	padding:10px;
	margin: 0 auto;
	margin-top:10px;
	order:4;
	flex:1;
}

.HeaderText{
	font-size:55px;
}

.Table{
	max-width:960px;
	width:100%;
	padding:10px;
	margin:0 auto;
	margin-top:10px;
	order:3;
	flex:1;
}

table{
	font-size:20px;
}

footer{
	margin-top:10px;
	order:5;
	flex:1;
}

 footer, header{
	max-width:100%;
	width:100%;
}

header{
	order:0;
	flex:1;
}

#MapRC{
	width:auto;
 	height:auto;
}

#Apple{
	width:auto;
	height:auto;
}

}


